.erorr{
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  text-align: center;
  color: gray;
}
.bosh{
  width: 200px;
  height: 200px;
  border: 20px solid grey;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.bosh span{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
}
.bosh span:nth-child(1){
  top: 25%;
  left: 20%;
}
.bosh span:nth-child(2){
  top: 25%;
  left: 65%;
}
.bosh span:nth-child(3){
  top: 60%;
  left: 25%;
  width: 80px;
  border-radius: 40%;
  height: 100px;
  background: none;
  border-top: 15px solid gray;
}

.erorr h1{
  font-size: 5em;
  font-weight: 400;
}
.erorr h2{
  font-weight: 400;
  font-size: 2rem;
  color: rgba(128, 128, 128, 0.589);
}
.erorr h3{
  margin: 10px 0;
  font-weight: 500;
}
.erorr button{
  padding: 10px 30px;
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.erorr button:hover{
  background-color: rgba(0, 0, 255, 0.74);
  padding: 10px 60px;
}