.qoshish{
  padding: 0 30px;
  width: 80%;
}
form{
  width: 100%;
}
.mahsulot_kirit{
  display: flex;
  margin-top: 20px;
  color: #9192F3;
  gap: 10px;
}
.mahsulot_kirit input:hover{
  background-color: #c9c9c9;
}
.mahsulot_kiritish label{
  text-transform: capitalize;
}
.mahsulot_img label{
  width: 169px;
  height: 163px;
  border: 2px dashed #A5A6F6;
  background: rgba(237, 237, 237, 0.7);
  box-shadow: 0 0 0 5px rgba(237, 237, 237, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  margin-right: 15px;
}
input[type=file]{
  display: none;
}

.mahsulot_view{
  display: flex;
  gap: 40px;
}
.mahsulot_view p{
  margin-bottom: 10px;
  text-transform: capitalize;
}
.mahsulot_view label{
  width: 164px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #A5A6F6;
  background-color: #F5F5F5;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba(237, 237, 237, 0.7);
  font-size: 30px;
  text-transform: capitalize;
}
.yuzi_toliq{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.yuzi_toliq input{
  width: 100%;
  border: none;
  outline: none;
  background: #F2F2F2;
  border: 1px solid #D6D6D6;
  padding: 10px;
  border-radius: 5px;
  margin: 1px;
}
.yuzi_toliq input:focus{
  margin: 0;
  border: 2px solid #4A7DA3;
}
.mahuslot_input{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.mahuslot_input div{
  display: flex;
  flex-direction: column;
  width: 49%;
}
.mahuslot_input div input{
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  background: #F2F2F2;
  border: 1px solid #D6D6D6;
}
.mahuslot_input div input:focus{
  box-shadow: 0 0 0 2px #4A7DA3;
}
#textarea{
  margin-top: 10px;
  outline: none;
  border: none;
  resize: none;
  height: 100px;
  padding: 10px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
}
#textarea:hover{
  background-color: #c9c9c9;  
}
#textarea:focus{
  box-shadow: 0 0 0 2px #4A7DA3;
}
